.App {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  background-color: #434e5a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.top-line-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.current-date,
.btn-location-wrapper {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: right;
  align-items: center;
}

.comma-date {
  display: none;
}
.current-date-time-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.current-date {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.5;
  justify-content: left;
  flex: 1;
}

.current-time {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.5;
  flex: 1;
}

.city-search {
  background-color: white;
  border-radius: 22px;
  width: 100%;
  max-width: 250px;
  height: 40px;
  display: flex;
  overflow: hidden;
}

.city-input {
  appearance: none;
  border: none;
  padding: 0 16px;
  flex: 1;
  font-size: 16px;
  width: 100%;
}

.city-input:focus-visible {
  outline: none;
}

.btn-search {
  background-color: transparent;
  border-style: none;
  border-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-search:hover {
  cursor: pointer;
}

.btn-location-wrapper {
  justify-content: right;
  align-items: center;
}

.location-icon-wrapper {
  padding-top: 4px;
  padding-right: 4px;
}

.btn-location {
  width: fit-content;
  background: #2d353f;
  border-radius: 40px;
  text-align: center;
  font-size: 14px;
  color: white;
  border-width: none;
  border-style: none;
  border-color: none;
  padding: 0 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
}

.btn-location:hover {
  cursor: pointer;
  background-color: #1f262d;
}

.current-temperature {
  font-weight: bold;
  font-size: 72px;
  color: white;
}

.current-data-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 100px auto 100px;
}

.current-weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.additional-weather-data {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.current-city {
  font-weight: bold;
  font-size: 27px;
}

.icon-temperature-wrapper {
  display: flex;
}

.weather-description {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.5;
}

.forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 650px;
  margin: 350 auto;
}

.day-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temperature-wrapper {
  display: flex;
  white-space: nowrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.day-temperature-wrapper {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* white-space: nowrap; */
}

.night-temperature-wrapper {
  font-weight: 400;
  font-size: 18px;
  opacity: 0.5;
}

.pipe {
  opacity: 0.5;
}

footer {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.5;
  margin-top: auto;
  display: flex;
}

.portfolio-link {
  text-decoration: none;
  color: white;
}

.portfolio-link:visited {
  text-decoration: none;
  color: white;
}

.linkRepository {
  text-decoration: none;
  color: white;
}

.linkRespository:visited {
  text-decoration: none;
  color: white;
}

/* ----------------------------------------------------------------------------------------------- */
@media (min-width: 576px) and (max-width: 768px) {
  .top-line-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }

  .btn-location-text {
    display: none;
  }

  .location-icon-wrapper {
    padding-right: 0;
  }

  .btn-location-wrapper {
    align-items: flex-start;
    justify-content: center;
  }

  .city-search {
    justify-content: center;
  }

  .current-date-time-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
  }

  .comma-date {
    display: inline-block;
    opacity: 0.5;
    font-size: 14px;
  }

  .current-date {
    font-size: 14px;
    line-height: 17px;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    flex: 0;
    align-items: center;
  }

  .current-time {
    font-size: 14px;
    line-height: 17px;
    opacity: 0.5;
    justify-content: center;
    flex: none;
  }

  .day-temperature {
    font-size: 16px;
  }

  .night-temperature {
    font-size: 14px;
  }

  .forecast {
    gap: 30px;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 8px;
  }

  .job-title,
  .dash {
    display: none;
  }
}

/* ----------------------------------------------------------------------------------------------- */
@media (max-width: 576px) {
  .top-line-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }

  .btn-location-text {
    display: none;
  }

  .location-icon-wrapper {
    padding-right: 0;
  }

  .btn-location-wrapper {
    align-items: flex-start;
    justify-content: center;
  }

  .city-search {
    justify-content: center;
  }

  .app-wrapper {
    margin-top: 30px;
  }

  .current-date-time-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
  }

  .comma-date {
    display: inline-block;
    /* display: none; */
    opacity: 0.5;
    font-size: 14px;
  }

  .current-date {
    font-size: 14px;
    line-height: 17px;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0;
    /* justify-content: right;  */
  }

  .current-time {
    font-size: 14px;
    line-height: 17px;
    opacity: 0.5;
    justify-content: center;
    flex: 0;
  }

  .current-time {
    font-size: 14px;
    line-height: 17px;
    opacity: 0.5;
    flex: 0;
  }

  .current-data-wrapper {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .additional-weather-data {
    justify-content: center;
    align-items: center;
  }

  .temperature-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
  }

  .day-temperature-wrapper {
    line-height: 0;
  }

  .day-temperature {
    font-size: 16px;
  }

  .night-temperature {
    font-size: 14px;
  }

  .forecast {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
    column-gap: 0;
    column-width: 60px;
  }

  .day-forecast {
    display: flex;
    flex-direction: row-reverse;
    column-gap: unset;
    width: 220px;
  }

  .day-name {
    width: 40px;
    text-align: left;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 8px;
    margin-top: 40px;
    justify-content: center;
    text-align: center;
  }

  .job-title,
  .dash,
  .dot {
    display: none;
  }
}
